@using Vuelos.Entidades
@model Pasajero

@{
    ViewBag.Title = "Detalles de pasajero";
}


<h1>Datos personales</h1>

<h3>Nombre @Model.Nombre</h3>
<h3>Apellido paterno @Model.ApellidoPaterno</h3>
<h3>Apellido materno @Model.ApellidoMaterno</h3>
<h3>Fecha de nacimiento @Model.FechaNacimiento</h3>

