
@{
    ViewBag.Title = "Home";
}

<div>
    <h2>Hola Nombre</h2>
    <h3>Bienvenido a la Aplicación de Vuelos, ¿Qué desea hacer?</h3>
    <h4>Comprar un Boleto: </h4>
    <a href="@Url.Action("Registro","Boleto", new { id = 0})" class="btn btn-success">Ir a Registrar Boleto</a>
    <h4>Registrar un Avión: </h4>
    <a href="@Url.Action("Registro","Avion", new { id = 0})" class="btn btn-primary">Ir a Registrar Avion</a>
    <h4>Registrar un Pasajero: </h4>
    <a href="@Url.Action("Registro","Pasajero", new { id = 0})" class="btn btn-danger">Ir a Registrar Pasajero</a>
    <h4>Registrar un Vuelo: </h4>
    <a href="@Url.Action("Registro","Vuelo", new { id = 0})" class="btn btn-warning">Ir a Registrar Vuelo</a>
</div>
